@import url('reset.css');

.container{
    width: 1200px;
    margin: 0 auto;
}
.first-block{
    background: #F6FFD4;
    font-size: 0;
}
.first-block div,
.two-block div,
.three-block div
{
    outline: 1px solid black;
}
.first-block>div{
    width: 400px;
    height: 400px;
    display: inline-block;
    font-size: 20px;
    margin-top: 1px;
    text-align: justify;
    padding: 3px;
}
.two-block{
    background: #047f70;
    font-size: 0;
}
.two-block>div{
    display: inline-block;
    width: 800px;
    font-size: 20px;
    vertical-align: top;
}
.two-block>div>div{
height: 200px;
}

.two-block>div+div>div{
    height: 133.333px;
}
.two-block>div+div{
    width: 400px;
}
.three-block{
    background: #e704e7;
    font-size: 0;
}
.three-block>div{
    display: inline-block;
    width: 400px;
    height: 400px;
    font-size: 20px;
    vertical-align: top;
}

.three-block>div+div{
    width: 800px;
}
.three-block>div>div>div{
    width: 400px;
    height: 200px;
}
.three-block>div>div{
    height: 200px;
}

.three-block>div>div+div {
    font-size: 0;
}
.three-block>div>div>div {
    width: 400px;
    height: 200px;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}
.three-block>div>div>div>div{
    height: 100px;
}

